img/01.png
img/02 重置到当前分支并保留工作副本（节点索引将被重置）.png
img/03 创建新分支.png
img/04 创建新分支.png
img/05 合并分支.png
img/06 合并分支.png
img/07 合并分支.png
img/08 合并分支_变基合并.png
img/09 合并分支_变基合并.png
img/10 合并分支_遴选.png
img/11 合并分支_交互式变基.png
img/12 合并分支_交互式变基.png
img/13 合并分支_冲突.png
img/14 合并分支_冲突.png
img/15 合并分支_冲突.png
img/16 合并分支_忽略.png
